<div class="card gx-4 bg-secondary my-5 py-4 ">
    <div class="card-body">
    <h1 *ngIf="viewCarModelName ">Bolero-NEO</h1>
    <div class="main-content">
            <mat-card class="list-users card gx-4 bg-secondary my-5 py-4" role="listitem" *ngFor="let model of viewCarModelName">
                    <mat-card-title>{{model.model_name}} </mat-card-title>
                    <img mat-card-md-image  src="/assets/bolero-neo.webp" alt="">
                    <mat-divider></mat-divider>
                    <mat-card-content>
                            Model Name: {{model.model_name}} <br>
                            Fuel Type: {{model.fuel_type}} <br>
                            Transmission: {{model.transmission}} <br>
                            Trim: {{model.trim}} <br>
                            Price: {{model.price}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" routerLinkActive="active" [routerLink] ="['/dealer' ]" (click)="saveModel_id(model.model_id)" > Book Now </button>
                    </mat-card-actions>   
            </mat-card>
    </div>