<!-- Page Content -->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/scorpio.webp" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">India's Number #1 SUV's</h1>
            <p>The All-New Scorpio-N makes every drive an experience with its unmissable design, thrilling performance, advanced technology, intuitive features, superior comfort & safety. It truly is the Big Daddy of SUVs.</p>
            <!-- <a class="btn btn-primary" href="https://auto.mahindra.com/suv/scorpio-n">Explore Cars</a> -->
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <app-allcars></app-allcars>
    </div>

