<h1 color="primary">Select Vehicle</h1>
<section>
        <div class="example-button-row">
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="models/SUVs" routerLinkActive="active">SUVs</button><mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="models/off road" routerLinkActive="active">Off Road</button><mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="models/pickuptruck" routerLinkActive="active">PickupTrucks</button><mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="models/MUV" routerLinkActive="active">MUV</button><mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="models/Hatchback" routerLinkActive="active">HatchBack</button><mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="models/Sedan" routerLinkActive="active">Sedan</button><mat-divider></mat-divider>
        </div>
</section>

  
        
  