<div class="card gx-4 bg-secondary my-5 py-4 ">
    <div class="card-body">
        <h3>To Logout</h3>
        <!-- <form class="mx-1 mx-md-4" [formGroup]="formValue" >
        <div class="form-outline mb-4">
            <input type="email" id="form3Example3" formControlName="email" class="form-control form-control-lg"
              placeholder="">
            <label class="form-label" for="form3Example3">Email ID</label>
            <div class="text-center text-lg-start mt-4 pt-2"> -->
            <a button type="button" class="btn btn-primary btn-lg" routerLink="/login" routerLinkActive="active" (click)="logoutUserDetails()" >LOGOUT</a>
        </div>