<div class="card gx-4 bg-secondary my-5 py-4 ">
    <div class="card-body">
<h1 *ngIf="viewCarModels ">SUVs Models</h1>
<hr>
<div class="main-content">
    <mat-card-content>
      <section>
              <div class="example-button-row">
                <img mat-card-md-image src=" /assets/Bolero.png"  alt="">
                <mat-divider></mat-divider>
                <h3>Starts at ₹ 1 054 499.00* </h3>
                <button mat-raised-button color="primary" routerLinkActive="active" [routerLink] ="['/model_name/Bolero' ]">Bolero</button><mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <br>
                <img mat-card-md-image src=" /assets/xuv7.png"  alt="">
                <mat-divider></mat-divider>
                <h3>Starts at ₹ 1 554 499.00* </h3>
                <button mat-raised-button color="primary"  routerLinkActive="active" [routerLink] ="['/model_name/XUV700' ]">XUV700</button><mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <br>
                <img mat-card-md-image src=" /assets/scorpio-N.webp"  alt="">
                <mat-divider></mat-divider>
                <h3>Starts at ₹ 1 254 499.00* </h3>
                <button mat-raised-button color="primary"  routerLinkActive="active" [routerLink]='["/model_name/Scorpio-N"]'>Scorpio-N</button><mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <br>
                <img mat-card-md-image src=" /assets/bolero-neo.webp"  alt="">
                <mat-divider></mat-divider>
                <h3>Starts at ₹ 1 154 500.00* </h3>
                <button mat-raised-button color="primary"  routerLinkActive="active" [routerLink]='["/model_name/Bolero-NEO"]'>Bolero-NEO</button><mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <br>
                <img mat-card-md-image src=" /assets/Scorpio-Classic.webp"  alt="">
                <mat-divider></mat-divider>
                <h3>Starts at ₹ 1 354 499.00* </h3>
                <button mat-raised-button color="primary" routerLinkActive="active"  [routerLink]='["/model_name/Scorpio Classic"]'>Scorpio Classic</button><mat-divider></mat-divider>
                <mat-divider></mat-divider>
